

.reg-form {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.4);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 15px auto;
    padding: 15px;
    width: 600px;
  }
   
  .form-heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 5px;
  }
   
  .helper-text {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: right;
  }

  .field-row {
    position: relative;
    width: 100%;
  }
   
  .form-label {
    display: inline-block;
    font-size: 16px;
    margin: 0 5px 5px 0;
    text-align: right;
    width: 100px;
  }
   
  .field {
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: inline-block;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    width: 240px;
  }
  .field.field-short {
    width: 70px;
  }

  .message {
    display: inline-block;
  }
   
  :required + .message::before {
    content: "* ";
  }

  .text-field:focus:required:valid {
    outline: green solid 2px;
  }
  .text-field:focus:required:invalid {
    outline: orange solid 2px;
  }
  .date-field:focus:in-range {
    outline: green solid 2px;
  }
  .date-field:focus:out-of-range {
    outline: orange solid 2px;
  }
   
  .website-field:focus:valid {
    outline: green solid 2px;
  }
  .website-field:focus:invalid {
    outline: orange solid 2px;
  }

  .form-button {
    background-color: #9797e9;
    color: #000;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }

  .first-name-field:focus:invalid + .message::after {
    color: orange;
    content: "Required your first name";
  }
   
  .last-name-field:focus:invalid + .message::after {
    color: orange;
    content: "Required your last name";
  }

  .initials-field:focus:invalid + .message::after {
    color: orange;
    content: "Required guardians name";
  }
   
  .tel-field:focus:invalid + .message::after {
    color: orange;
    content: "Required phone number";
  }
   
  .email-field:focus:invalid + .message::after {
    color: orange;
    content: "Required email address";
  }
  .pi-field:focus:invalid + .message::after {
    color: orange;
    content: "Required profile_image url";
  }
   
  .address-field:focus:invalid + .message::after {
    color: orange;
    content: "Required full address";
  }
   