.welcome{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.welcome h1{
    display: flex;
    color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;
    align-items: center;
    background-color: #f8f8f8;
  }

  .header .logo {
    font-size: 25px;
    font-family: 'Sriracha', cursive;
    color: #000;
    text-decoration: none;
    margin-left: 30px;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    margin-right: 10px;
  }

  .nav-items a {
    text-decoration: underline;
    color: rgb(149, 149, 149);
    padding: 35px 20px;
  }

  .nav-items button{
    background-color: rgb(0, 98, 255);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  }

  /* #list{
    background-color: rgb(0, 98, 255);
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4)
  } */


  /* .lists{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.lists h2{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
} */

.student-table table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .student-table th, td {
    background-color: #96bad4;
  }

